<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SetupExtensions -->
      <package
            uri="http://eclipse.gebit.de/SetupExtensionsBootstrap/1.1"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.SetupExtensionsBootstrapPackage"
            genModel="model/SetupExtensionsBootstrap.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.oomph.setup.core.stringFilters">
      <stringFilter
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.util.BaseVersionFilter"
            name="baseVersion">
      </stringFilter>
   </extension>

</plugin>
