<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExecuteCommand -->
      <package
            uri="http://eclipse.gebit.de/ExecuteCommand/1.0"
            class="de.gebit.eclipse.installer.executecommand.ExecuteCommandPackage"
            genModel="model/ExecuteCommand.genmodel"/>
   </extension>

</plugin>
