<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated SetupExtensions -->
      <factory
            uri="http://eclipse.gebit.de/SetupExtensionsBootstrap/1.1"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.provider.SetupExtensionsBootstrapItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated SetupExtensionsBootstrap -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.provider.SetupExtensionsBootstrapItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.provider.SetupExtensionsBootstrapItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated SetupExtensions -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.provider.SetupExtensionsBootstrapItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="de.gebit.eclipse.installer.setupextensionsbootstrap.provider.SetupExtensionsBootstrapItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

</plugin>
