<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IvyResolve -->
      <package
            uri="http://eclipse.gebit.de/IvyResolve/1.0"
            class="de.gebit.eclipse.setup.ivyresolve.IvyResolvePackage"
            genModel="model/IvyResolve.genmodel"/>
   </extension>

</plugin>
